{% extends "varasto/base_main.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/grant_permissions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock stylesheet %}

{% block title %}Oikeuksija{% endblock %}
{% block path %}Oikeuksija{% endblock %}
{% block page %}Oikeuksija{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('#staff').click(function(){
        if ($('#students').is(':checked')){
            $('#students').prop('checked', false)
            toggle_students()
        }
        toggle_staff()
    })

    $('#students').click(function(){
        console.log('staff',$('#staff').is(':checked'))
        if ($('#staff').is(':checked')){
            $('#staff').prop('checked', false)
            toggle_staff()
        }
        toggle_students() 
    })
    function toggle_students(){
        $("#user_list > [role]").filter(function(){
            console.log(this.role)
            if (this.role!='student' && this.role!='student_extended'){
                $(this).toggle()
            }
        })  
    }
    function toggle_staff(){
        $("#user_list > [role='student'], #user_list > [role='student_extended']").toggle()
    }
})
</script>
{% endblock %}

{% block main_content %}

<div class="sort">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="students">
        <label class="form-check-label" for="students">
            Opiskelijat
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="staff">
        <label class="form-check-label" for="staff">
            Henkilöstö
        </label>
    </div>

</div> 

<div class="list" id="user_list">
{% if users %}
{% for usr in users %}  
<form method="post" action="{% url 'save_permision' usr.id %}">
    {% csrf_token %}
    <div class="list__item brd_top" id="user_id_{{usr.id}}" role="{{usr.role}}">
        <div class="list__item_photo">
            <!-- <div><img src="{% static 'varasto/pics/people/janko-ferlic.jpg' %}" alt="janko-ferlic.jpg"></div> -->
            <div>
                {% if usr.photo %}
                <img src="{% static usr.photo %}" alt="usr.photo">
                {% else %}
                <img src="{% static 'images/no_person_photo.png' %}" alt="no_person_photo.png">
                {% endif %}
            </div>
        </div>
             
        <div class="list__item_student">
            <span><a href="{% url 'renter' usr.id %}">{{usr.first_name}} {{usr.last_name}}</a></span>
            <span><a href="{% url 'renter' usr.id %}">{{usr.email}}</a></span>
        </div>
        <div class="list__item_group">
            <span>{{usr.role}}</span>
            <span>{{usr.group|default:""}}</span>
        </div>

        <div class="list__item_role">
            <div class="dropdown">
                <select class="form-select" name="roles">
                {% for entry in usr.roles %} 
                <option value="{{entry}}" {% if entry == usr.role %} selected {% endif %}>{{entry}}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="list__item_button">
            <button class="list__button list__button_bg_blue btn_strech" type="submit">
                <span class="list__button__text ">Tallenna</span>
            </button>
        </div>
        

    </div>
</form>
{% endfor %}
{% endif %}

</div>

{% endblock %}