{% extends "varasto/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/inventaario_side_window.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}Inventaario_side_window{% endblock %}

{% block content %}


<div class="refund_page">
    <div class="row01">
        <img src="https://www.hilti.fi/medias/sys_master/images/h86/hdf/9531940339742.jpg" class="img-thumbnail" alt="9531940339742.jpg">
    </div>
    <div class="row01">
        <div class="span_warp">
            <span class="middle_medium">Porakone</span>
            <span class="middle_medium">Akkuporakone BOSH</span>
            <span class="middle">TT- RS200</span>
            <span class="middle_medium">ID/Tuotenumero</span>            
            <span class="middle">00005447</span>
            <span class="middle_medium">EAN-koodi</span>
            <span class="middle">6942897645789</span>
        </div>
    </div>

    

    
        <div class="row01">
            <div class="span_warp">
              <span class="small-medium">Tekniset parametrit</span>
              <span class="middle_medium">1.8kg, Akku 18V</span>
              <span class="small-small_medium">Pakkaus</span>
              <span class="middle_medium">1 kpl</span>
              <span class="small-medium">Tyyppi</span>
              <span class="middle-medium">-</span>
              <span class="small-medium">Kappalemäärä</span>
              <span class="middle_medium">15 kpl</span>
            </div>    
        </div>       
                
    
        <div class="row01"> 
            <div class="span_warp">
                <span class="small-medium">Laskun numero</span>
                <span class="middle_medium">91119001001948</span>
                <span class="small-medium">Hankinta paikka</span>
                <span class="middle_medium">Motonet</span>
                <span class="small-medium">Hankintahinta</span>
                <span class="middle_medium">371,60€</span>
                <span class="small-medium">Hankinta päivämäärä</span>
                <span class="middle_medium">03.05.2021</span>
                <span class="small-medium">Kustannuspaikka</span>
                <span class="middle_medium">534334</span>
                <span class="small-medium">Sijoituspaikka</span>
                <span class="middle_medium">Rakennus varasto, Esimerkkitie 423</span>
            </div> 
        </div> 
   





    


  
    
</div>

{% endblock %}
