{% extends "varasto/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/main_base.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}Main page{% endblock %}

{% block content %}

<div class="main_container">
    <header>
        <div class="warp">
            <div class="logos item_left">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
                <span><img class="image" src="{% static 'varasto/pics/varasto_logo.png' %}" alt="varasto_logo.png"></span>
            </div>
            <div class="page_name item_left">
                <span>Kotisivu / Vuokraaminen</span>
                <span>Vuokraaminen</span>
            </div>
            <div class="search">
                <form action="" method="get">
                    <input name="search_form" type="text" class="form-control size" placeholder="Etsiminen">
                    <button class="btn btn-secondary">
                        <i class="bi bi-search"></i>
                    </button>  
                </form>
            </div>
            <div class="account item_right">
                <span>
                    <a href="{% url 'logout' %}">
                    {% if user.first_name %}
                        {{ user.first_name }} {{ user.last_name }} 
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                    logout
                    </a>
                </span>
                <span>{{datenow}}</span>
            </div>
        </div>
    </header>



    <aside>
        <div class="white_background">
            <nav>
                <button type="button" class="button button_bg_green resize mb-2">
                    <span class="button__text resize">Uusi tapahtuma</span>
                    <span class="button__icon">+</span>
                </button>
                {% if user.role == 'management' %}
                <button type="button" class="button button_bg_green resize mb-2">
                    <span class="button__text resize">Uusi tavara</span>
                    <span class="button__icon">+</span>
                </button>
                {% endif %}
                <button type="button" class="button button_bg_gray resize mb-2">
                    <span class="button__text resize">Vuokraaminen</span>
                </button>
                <button type="button" class="button button_bg_white resize mb-2">
                    <span class="button__text resize">Tavarat</span>
                </button>
                <button type="button" class="button button_bg_white resize mb-2">
                    <span class="button__text resize">Asetukset</span>
                </button>
            </nav>
        </div>
    </aside>


    <main>
        <div class="white_background">
            <div class="new">
                <div class="new_img_desc">
                    <div class="new_product_img">
                        <div><img src="{% static 'varasto/pics//milwaukee_test_pic.jpg' %}" alt="Tuotekuva"></div>
                    </div>

                    <div class="new_button_top">
                        <div class="new_button_take">
                            <button type="take" class="btn btn-primary">Take</button>
                        </div>
                        <div class="divider"></div>
                        <div class="new_button_browse">
                            <button type="browse" class="btn btn-primary">Browse</button>
                        </div>
                    </div>

                    <div class="new_product_desc">
                        <label class="desc_label" size="200"> <b>Kuvaus</b></label>
                        <textarea class="desc_container" type="text"> </textarea>
                    </div>
                </div>

                <div class="new_middle">
                    <div class="div1">
                        <div style="display: flex; flex-direction: column; text-align: left;">
                            <label class="tyokaluryhma_label"> <b>TYÖKALURYHMÄ</b></label>
                            <input class="tyokaluryhma_container" type="text">
                        </div>
                    </div>
                    <div class="div2"> 
                        <label class="nimi_label"> <b>NIMI</b></label>
                        <input class="nimi_container" type="text">
                    </div>
                    <div class="div3"> 
                        <label class="merkki_label"> <b>MERKKI</b></label>
                        <input class="merkki_container" type="text">
                    </div>
                    <div class="div4"> 
                        <label class="malli_label"> <b>MALLI</b></label>
                        <input class="malli_container" type="text">
                    </div>
                    <div class="div5"> 
                        <label class="tyyppi_label"> <b>TYYPPI</b></label>
                        <input class="tyyppi_container" type="text">
                    </div>
                    <div class="div6"> 
                        <label class="koko_label"> <b>KOKO</b></label>
                        <input class="koko_container" type="text">
                    </div>
                    <div class="div7"> 
                        <label class="pakkaus_label"> <b>PAKKAUS</b></label>
                        <input class="pakkaus_container" type="text">
                    </div>
                    <div class="div8"> 
                        <label class="kplmaara_label"> <b>KAPPALEMÄÄRÄ</b></label>
                        <input class="kplmaara_container" type="text">
                    </div>
                    <div class="div9"> 
                        <label class="tptt_label"> <b>TEKNINEN PARAMETRI / TEKNISET TIEDOT</b></label>
                        <input class="tptt_container" type="text">
                    </div>
                </div>

                <div class="new_bottom">
                    <div class="div10">
                        <label class="laskunr_label"> <b>LASKUN NUMERO</b></label>
                        <input class="laskunr_container" type="text">
                    </div>
                    <div class="div11">
                        <label class="hankitapaikka_label"> <b>HANKINTAPAIKKA</b></label>
                        <input class="hankintapaikka_container" type="text">
                    </div>
                    <div class="div12">
                        <label class="hankintahinta_label"> <b>HANKINTAHINTA</b></label>
                        <input class="hankintahinta_container" type="text">
                    </div>
                    <div class="div13">
                        <label class="hankintavuosi_label"> <b>HANKINTAVUOSI</b></label>
                        <input class="hankintavuosi_container" type="text">
                    </div>
                    <div class="div14">
                        <label class="varastopaikka_label"> <b>VARASTO / SIJOITUSPAIKKA</b></label>
                        <input class="varastopaikka_container" type="text">
                    </div>
                    <div class="div15">
                        <label class="kustannuspaikka_label"> <b>KUSTANNUSPAIKKA</b></label>
                        <input class="kustannuspaikka_container" type="text">
                    </div>
                    <div class="div16">
                        <label class="reknro_label"> <b>REKISTERINUMERO</b></label>
                        <input class="reknro_container" type="text">
                    </div>
                </div>
                    <div class="new_button_bottom">
                            <button type="take" class="btn btn-primary">PERUUTA</button>
                            <button type="browse" class="btn btn-primary">TALLENNA</button>
                    </div>

                <div>

                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}