{% extends "varasto/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/menu.css' %}">
{% endblock %}
{% block title %}Menu{% endblock %}

{% block content %}

    <div class="rectangle">
         <div class="nappi">
             <div class="warp">
                <p>sss</p>
                <p>+</p>
             </div>
         </div>
         <div class="nappi white_text">
            <p>sss</p>  
        </div>
        <div class="nappi harma_text">
            <p>sss</p>
        </div>
        <div class="nappi harma_text">
            <p>ss</p>  
        </div>
        <div class="nappi white_text">
            <p>ss</p>
        </div>
    </div>

{% endblock %}