<div class="columns_name">

    <div class="row02">
        <div>
            <span>Tuote</span>
        </div>
    </div>
    
    <div class="row01">
        <div>
            <span>ID / Tuotenumero</span>
        </div>
    </div>
    
    <div class="row01">
        <div>
            <span>EAN</span>
        </div>
    </div>
    
    <div class="row01">
        <div>
            <span>Saatavuus</span>
        </div>
    </div>

    <div class="row01">
        <div>
            <span>Arvioitu Palautuspäivä</span>
        </div>
    </div>
    
    <div class="row01">
        <div>
            <span></span>
        </div>
    </div>
</div>

{% for item in items %}

<div class="new_event_wrap">

    <div class="row01">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="chekbox{{item.id}}" {% if item.rentable_at %}disabled{% endif %}>
          </div>
    </div>

    <div class="row02">
        <div class="item_name">
            <label class="header" for="chekbox{{item.id}}">{{item.item_name}} {{item.brand}}</label>
            <label class="paragraph" for="chekbox{{item.id}}">{{item.model|default_if_none:""}} {{item.item_type|default_if_none:""}} {{item.parameters|default_if_none:""}} {{item.size|default_if_none:""}} {{item.package|default_if_none:""}}</label>
            {% comment %} {{forloop.counter}} {% endcomment %}
        </div>
    </div>

    <div class="row01">
        <div class="">
            <span class="code_number">{{item.id}}</span>
        </div>
    </div>

    <div class="row01">
        <div class="">
            <span class="EAN_number">{{item.ean}}</span>
        </div>
    </div>

    <div class="row01">
        <div class="item_status">
            {% comment %} {% if item.item_status != 'available'  %} {% endcomment %}
            {% if item.rentable_at %}
            <span class="status_red">Ei saatavilla</span>
            {% else %}
            <span class="status_green">Saatavilla</span>
            {% endif %} 
        </div>
    </div>

    <div class="row01">
        <div class="">
            <span class="est_date">{{ item.rentable_at|date:'d.m.Y' }}</span>
        </div>
    </div>

    <div class="row01">
        <button type="button" class="button_props {% if item.item_status == 'available' %}button_active{% else %}button_inactive{% endif %}">
            <span class="button__text">Valitse</span>
        </button>
    </div>
</div>
{% endfor %}