{% extends "varasto/base_main.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/new_item.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}NEW ITEM{% endblock %}

{% block main_content %}

<div class="new">
    <div class="new_img_desc">
        <div class="new_product_img">
            <div><img src="{% static 'varasto/pics//milwaukee_test_pic.jpg' %}" alt="Tuotekuva"></div>
        </div>

        <div class="new_button_top">
            <div class="new_button_take">
                <button type="take" class="btn btn-primary1" style="color: white">Take</button>
            </div>
            <div class="divider"></div>
            <div class="new_button_browse">
                <button type="browse" class="btn btn-primary1" style="color: white">Browse</button>
            </div>
        </div>

        <div class="new_product_desc" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 90%; height: 70%; margin-top: 2em;">
                <label class="form-label" size="200"> Kuvaus</label>
                <textarea class="form-controlli" type="text"> </textarea>
            </div>
        </div>
    </div>

    <div class="new_middle">
        <div class="div1" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label">TYÖKALURYHMÄ</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div2" style="display: flex; justify-content: center;"> 
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> NIMI</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div3" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> MERKKI</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div4" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> MALLI</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div5" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> TYYPPI</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div6" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;"> 
                <label class="form-label"> KOKO</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div7" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> PAKKAUS</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div8" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> KAPPALEMÄÄRÄ</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div9" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> TEKNISET TIEDOT</label>
                <input class="form-control" type="text">
            </div>
        </div>
    </div>
    <div class="new_bottom">
        <div class="div10" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> LASKUN NUMERO</label>
                <input class="form-control" type="text">
            </div> 
        </div>
        <div class="div11" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> HANKINTAPAIKKA</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div12" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> HANKINTAHINTA</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div13" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> HANKINTAVUOSI</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div14" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> VARASTO / SIJOITUSPAIKKA</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div15" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> KUSTANNUSPAIKKA</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="div16" style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; text-align: left; width: 80%;">
                <label class="form-label"> REKISTERINUMERO</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <!-- <div class="new_button_bottom" style="justify-content: center; margin-top: 1.5em;">
                <button type="take" class="btn btn-primary1" style="color: white">PERUUTA</button>
                <button type="browse" class="btn btn-primary1" style="color: white">TALLENNA</button>
        </div> -->
    </div>
    <div class="new_button_bottom" style="justify-content: center;">
        <button type="take" class="btn btn-primary1" style="color: white">PERUUTA</button>
        <button type="browse" class="btn btn-primary1" style="color: white">TALLENNA</button>
    </div>
</div>


{% endblock %}