{% extends "varasto/base_main.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/new_event.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}New event{% endblock %}

{% block main_content %}
<div class="new_event_warp">
    <div class=" d-flex justify-content-center pt-5" style="">
        <div class="d-flex flex-column align-items-end">
            <form class="row g-3">
                <div class="col-auto">
                    <div class="d-flex align-items-end">
                        <div class="mb-3 me-3">
                            <label for="exampleFormControlInput1" class="form-label">Skannaa opiskelijakortti tai kirjoittaa käsin opiskelijanumero.</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="kirjoittaa opiskelijanumero tai hänen nimi">
                        </div>
                        <div class="mb-3">
                            <button type="button" class="list__button list__button_bg_green btn_strech">
                                <span class="bi bi-plus font-size"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <form class="row g-3 mt-3">
                <div class="col-auto">
                    <div class="d-flex align-items-end">
                        <div class="mb-3 me-3">
                            <button type="button" class="list__button list__button_bg_green btn_strech">
                                <span class="list__button__text">Lisää tuote</span>
                            </button>
                        </div>
                        <div class="mb-3 me-3">
                            <label for="exampleFormControlInput1" class="form-label">Skannaa tuote, kirjoittaa käsin tuotenumero tai lisää napilla.</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="kirjoittaa tuotenumero tai tuotenimi">
                        </div>
                        <div class="mb-3">
                            <button type="button" class="list__button list__button_bg_green btn_strech">
                                <span class="bi bi-plus font-size"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="added_items row mt-5" >
                <form>
                    <div class="col-auto">
                        <div class="d-flex flex-row justify-content-between px-2" >
                            <div class="mb-3 me-3">
                                <h4>Yleisruuvi PROF</h4>
                                <p>M18 FHIWF 12</p>
                            </div>
                            <div class="mb-3 d-flex">
                                <button type="button" class="list__button list__button_bg_red btn_strech">
                                    <span class="bi bi-dash font-size"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex flex-row justify-content-between px-2" >
                            <div class="mb-3 me-3">
                                <h4>Yleisruuviswwww PROF</h4>
                                <p>M18 FHIWFsdbsdsd 12</p>
                            </div>
                            <div class="mb-3 d-flex">
                                <button type="button" class="list__button list__button_bg_red btn_strech">
                                    <span class="bi bi-dash font-size"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    
    <div class="main_buttons right pb-2 pe-2">
        <div>
            <button type="button" class="button_s me-5">
                <span class="button_s__text">PERUUTA</span>
            </button> 
            <button type="button" class="button_s">
                <span class="button_s__text">TALLENNA</span>  
            </button>
        </div>
    </div>
</div>

{% endblock %}
