{% extends "varasto/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/product_report.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}Vuokraus raportointi{% endblock %}

{% block content %}

<div class="px-5">

<div class="logo_header">
    <div class="left">
        <div class="report_logo">
            <span><img class="" src="{% static 'varasto/pics/varasto_logo.png' %}" alt="varasto_logo.png"></span>
        </div>
    </div>

    <div class="center">
        <span class="">Vuokraus raportointi</span>
    </div>
    
    <div class="right button_right">
        <button type="submit" class="list__button list__button_bg_blue btn_strech button_active">
            <span class="button__icon"><i class="bi bi-printer"></i>
            </span>
        </button>
    </div>

</div>
{% if item %}
<div class="subhead">
    <div>
        <div class="renter_img">
            <img src="{% static 'images/goods/1.jpg'%}" alt="">
        </div>
    </div>

    <div>
        <div class="renter_information">
            <span class="bold">Tuotteen tiedot:</span>
            <span class="">{{item.item_name}} {{item.brand}} {{item.model|default_if_none:""}}</span>
            <span class="">{{item.item_type|default_if_none:""}} {{item.parameters|default_if_none:""}} {{item.size|default_if_none:""}} {{item.package|default_if_none:""}}</span>
            <span class="">ID/Tuotenumero</span>
            <span class="">{{item.id}}</span>
            <span class="">EAN-koodi</span>
            <span class="">{{item.ean}}</span>
        </div>
    </div>

    <div>
        <div class="renter_information">
            <span class="bold">Ostoksen tiedot:</span>
            <span class="">Laskun numero</span>
            <span class="">{{item.invoice_number|default:"-" }}</span>
            <span class="">Hankitapaikka</span>
            <span class="">{{item.purchase_place|default:"-" }}</span>
            <span class="">Kustannuspaikka</span>
            <span class="">{{item.cost_centre|default:"-" }}</span>
            <span class="">Hankitahinta</span>
            <span class="">{{item.purchase_price|default:"-" }} euro</span>
            <span class="">Hankita Päivämäärä</span>
            <span class="">{{item.purchase_data|date:'d.m.Y' }}</span>
        </div>
    </div>

    <div>
        <div class="renter_information">
            <span class="bold">Sijoituspaikka:</span>
            <span class="">{{item.storage|default:"-" }}</span>
            <span class="">{{item.storage_place|default:"-" }}</span>
        </div>
    </div>

</div>

<div class="column_name">

    <div class="row01">
        <div class="">
            <span class="">Sijaintitiedot/Vuokraaja</span>
        </div>
    </div>
    
    <div class="row01">
        <div class="">
            <span class="">Päivämäärä</span>
        </div>
    </div>
    
    <!-- <div class="row01">
        <div class="">
            <span class="">Tuoten tapahtuneet toimet</span>
        </div>
    </div> -->
    
    <div class="row01">
        <div class="">
            <span class="">Toiminut/Vastuulinen henkilö</span>
        </div>
    </div>
    
</div>
{% if rental_events %}
{% for rental_event in rental_events %}
<div class="line_content">

    <div class="row01">
        <div class="renter_name">
            <span class="name">{{rental_event.renter.first_name}} {{rental_event.renter.last_name}}</span>
            <span class="group">Opiskelijanumero: {{rental_event.renter.code}}</span>
            
        </div>
    </div>

    <div class="row01">
        <div class="date">
            <span class="">{{rental_event.start_date|date:"d.m.Y"}} - {% if rental_event.returned_date %}{{rental_event.returned_date|date:"d.m.Y"}}{% else %}Vuokrattavissa{% endif %}</span>
        </div>
    </div>

    <!-- <div class="row01">
        <div class="event">
            <span class="status">Vuokrattu</span>
        </div>
    </div> -->

    <div class="row01">
        <div class="interval">
            <span class="">{{rental_event.staff.first_name}} {{rental_event.staff.last_name}}</span>
            <span class="">{{rental_event.staff.role}}</span>
        </div>
    </div>

</div>
{% endfor %}
{% endif %}
{% else %}
Tuotetta ei löydy
{% endif %}
</div>
{% endblock %}