{% extends "varasto/base_main.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/vuokraus_tilanne.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}{{ selected_item.item_name|default:"" }} {{ selected_item.brand|default:"" }} {{ selected_item.model|default:"" }}{% endblock %}
{% block path %}Kaikki tavarat / {{ selected_item.item_name|default:"" }} {{ selected_item.brand|default:"" }} {{ selected_item.model|default:"" }}{% endblock %}
{% block page %}Tavara {{ selected_item.item_name|default:"" }} {{ selected_item.brand|default:"" }}{% endblock %}

{% block script %}
<script type="text/javascript">
</script>
{% endblock %}

{% block main_content %}
    <div class="main_warp">
        <div class="person_info">
            <div class="photo">
                <!-- <div><img src="{% static 'varasto/pics/people/portrait-800.jpg' %}" alt="portrait.jpg"></div> -->
                <div>
                    {% if selected_item.picture %}
                    <img src="{% static selected_item.picture %}" alt="{{selected_item.picture}}">
                    {% else %}
                    <div>
                        <!-- <i class="bi bi-wrench-adjustable"></i><i class="bi bi-hammer"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                          </svg>
                        
                    </div>
                    {% endif %}
                </div>
                <!-- <div><img src="data:image/png;base64,{{product_barcode}}" alt="barcode"></div> -->
                <!-- <div><input type="hidden" id="canvasData" name="canvasData" value="{{product_barcode}}"/></div> -->
            </div>
            
            <div class="information ps-3">
                <span class="student_name">{{ selected_item.item_name|default:"" }} {{ selected_item.brand|default:"" }} </span>
                <span class="student_group">{{ selected_item.model|default:" " }} {{ selected_item.parameters|default:" " }}</span>
                <span class="personal_field_name">EAN</span>
                <span class="personal_field_data">{% if selected_item.ean %}<a href="{% url 'product_barcode_ean13' idx %}">{{ selected_item.ean|default:"-" }}</a>{% else %}-{% endif %}</span>
                <span class="personal_field_name">saatavuus</span>
                <span class="personal_field_data ">{% if selected_item.is_possible_to_rent.0 %}<span class="status_green round">Saatavilla</span>{% else %}<span class="status_red round">Ei saatavilla</span>{% endif %}</span>
                <span class="personal_field_name">tuotekoodi</span>
                <span class="personal_field_data">{{ selected_item.id|default:"-" }}</span>
                <span class="personal_field_name">varasto</span>
                <span class="personal_field_data">{{ selected_item.storage|default:"-" }}</span>
            </div>

            <div class="information ps-3 valign_end">
                <span class="personal_field_name">tuotepaikka</span>
                <span class="personal_field_data">{{ selected_item.storage_place|default:"-" }}</span>
                <span class="personal_field_name">pakkauksien määrä</span>
                <span class="personal_field_data">{{ selected_item.amount|default:"0" }} kpl</span>
                <span class="personal_field_name">määrä pakkauksessa</span>
                <span class="personal_field_data">{{ selected_item.contents|normalize_dec|default:"-" }} {{ selected_item.unit|default:"" }}</span>
                <span class="personal_field_name">kaikki yhteensä</span>
                <span class="personal_field_data">
                    {% if selected_item.cat_name_id == CATEGORY_CONSUMABLES_ID %}
                    {{ selected_item.amount_x_contents|normalize_dec|default:"0" }} {{ selected_item.unit|default:"kpl" }}
                    {% else %}
                    -
                    {% endif %}
                </span>
                <span class="personal_field_name">kustannuspaikka</span>
                <span class="personal_field_data">{{ selected_item.cost_centre|default:"-" }}</span>
            </div>
            <div class="information ps-3 valign_end">
                <span class="personal_field_name">rekisterinumero</span>
                <span class="personal_field_data">{{ selected_item.reg_number|default:"-" }}</span>
                <span class="personal_field_name">ostopäivämäärä</span>
                <span class="personal_field_data">{{ selected_item.purchase_data|date:'d.m.Y'|default:"-" }}</span>
                <span class="personal_field_name">ostohinta</span>
                <span class="personal_field_data">{{ selected_item.purchase_price|default:"-" }} euro</span>
                <span class="personal_field_name">ostopaikka</span>
                <span class="personal_field_data">{{ selected_item.purchase_place|default:"-" }}</span>
                <span class="personal_field_name">laskun numero</span>
                <span class="personal_field_data">{{ selected_item.invoice_number|default:"-" }}</span>
            </div>
            <div class="new_rental">
                <a class="nodecor pb-3" href="{% url 'product_report' selected_item.id %}">
                    <button type="submit" class="button button_bg_blue resize">
                        <span class="button__text resize">Raportti</span>
                        <span class="button__icon"><i class="bi bi-printer"></i></span>
                    </button>
                </a>
                <a class="nodecor pb-3" href="{% url 'edit_item' selected_item.id %}">
                    <button type="submit" class="button button_bg_blue resize">
                        <span class="button__text resize">Muokkaa tavara</span>
                        <span class="button__icon"><i class="bi bi-pencil-square"></i></span>
                    </button>
                </a>
                <a class="nodecor pb-3 {% if not selected_item.is_possible_to_rent.0 %}disable{% endif %}" href="{% url 'new_event' %}?add_item0={{ selected_item.id }}" >
                    <button type="submit" {% if not selected_item.is_possible_to_rent.0 %} class="button button_bg_gray resize" {% else %} class="button button_bg_green resize" {% endif %}> 
                        <span class="button__text resize">Lisää tavara</span>
                        <span class="button__icon">+</span>
                    </button>
                </a>
                <a class="nodecor {% if selected_item.rentable_at %}disable{% endif %}" href="#" >
                    <button type="button" data-bs-toggle="modal" data-bs-target="#delete_confirm_modal" {% if selected_item.rentable_at %} class="button button_bg_gray resize" {% else %} class="button button_bg_red resize" {% endif %}> 
                        <span class="button__text resize">Poista tavara</span>
                        <span class="button__icon">X</span>
                    </button>
                </a>
            </div>
        </div>

        <!-- Modal 1-->
        <div class="modal fade" id="delete_confirm_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Poista {{ selected_item.item_name|default:"" }} {{ selected_item.brand|default:"" }} tuotte</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'delete_product' selected_item.id next_page %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p><b> Haluatko varmasti poistaa tämän tuotteen?</b></p>
                            <p>Huom! Poistettuja tuotteita ei saa palauttaa järjestelmään!</p>
                            <p>Tiedot tästä tapahtumasta tallennetaan lokiin.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">sulje</button>
                            <button type="submit" class="btn btn-danger">POISTA</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="barcode_desc">
            <div class="barcode">
                <a href="{% url 'product_barcode' idx %}"><img src="data:image/png;base64,{{product_barcode}}" alt="barcode"></a>
            </div>
            <div class="product_description mt-3 mb-3">
                <div>
                    {{ selected_item.item_description|default:"-" }}
                </div>
            </div>
        </div>
        
        <div class="pagination mt-3">
            <span class="step-links">
                <a href="?page=1"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-double-left font-size"></span></button></a>
                <a href="{% if rental_events.has_previous %}?page={{ rental_events.previous_page_number }}{% endif %}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-left font-size"></span></button></a>
                
                <span class="current">
                    Sivu {{ rental_events.number }} / {{ rental_events.paginator.num_pages }}
                </span>
    
                <a href="{% if rental_events.has_next %}?page={{ rental_events.next_page_number }}{% endif %}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-right font-size"></span></button></a>
                <a href="?page={{ rental_events.paginator.num_pages }}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-double-right font-size"></span></button></a>
            </span>
        </div>

        <div class="history_header_wrap">
            <div class="column_names">
                <div><span></span></div>
                <div><span>Vuokraajan tiedot</span></div>
                <div><span>Tapahtuman tiedot</span></div>
                <div><span>Vuokra-aika</span></div>
                <!-- <div><span>Vastuuhenkilö</span></div> -->
                <div><span>Kommentit</span></div>
                
            </div>
        </div>


        <div class="history">
            {% for rental_event in rental_events %}
            <div class="history_list">
                <div class="history_photo">
                    <div><img src="{% static rental_event.renter.photo %}" alt="{{rental_event.renter.photo}}"></div>
                </div>
                
                <div class="item_info">
                    <div>
                        <a href="{% url 'renter' rental_event.renter.id %}" class="nodecor">
                            <span class="item_name">{{rental_event.renter.first_name}} {{rental_event.renter.last_name}}</span>
                        </a>
                        <a href="{% url 'renter' rental_event.renter.id %}" class="nodecor">
                            <span class="item_props">{{rental_event.renter.email}}</span>
                        </a>
                    </div>
                    <div class="item_info_place">
                        <span class="item_num_name">Phone</span>
                        <span class="item_num">
                            {{rental_event.renter.phone}}
                        </span>
                    </div>
                    <span class="item_num_name">Opiskelijakoodi</span>
                    <!-- <span class="item_num">{{rental_event.id_start_null}}</span> -->
                    <span class="item_num">{{rental_event.renter.code}}</span>
                </div>

                <div class="item_info">
                    <div>
                        <span class="item_num_name">Tapahtumakoodi</span>
                        <span class="item_num">{{rental_event.id}}</span>
                    </div>
                    <div>
                        <span class="item_num_name">Määrä</span>
                        <span class="item_num">
                            {% if rental_event.units %}
                            {{rental_event.contents|normalize_dec|default_if_none:"-"}} {{rental_event.item.unit|default_if_none:"-"}}
                            {% else %}
                            {{rental_event.amount|default_if_none:""}} {% if rental_event.amount > 1 %} pakettia {% else %} paketti {% endif %}
                            {% endif %}
                        </span>
                    </div>
                    <div>
                        <span class="item_num_name"></span>
                        <span class="item_num"></span>
                    </div>
                </div>

                <div class="rental_period">
                    <!-- Если аренда закончина, написать дату возврата, вместо начала и предполагаемой даты -->
                    <span class="rental_period_date">
                        {% if not rental_event.returned_date %}
                        {{rental_event.start_date|date:'d.m.Y'}} - Ei vielä palautettu
                        {% else %}
                        {{rental_event.start_date|date:'d.m.Y'}} - {{ rental_event.returned_date|date:'d.m.Y' }}
                        {% endif %}
                    </span>
                    {% if not rental_event.returned_date and rental_event.is_past_due %}
                        {% if rental_event.item.cat_name_id == CATEGORY_CONSUMABLES_ID %}
                            <div class="list__rented_item_status">
                                <div class="status_orange"><span>Lainassa*</span></div>
                            </div>
                        {% else %}
                            <div class="list__rented_item_status">
                                <div class="status_green"><span>Lainassa</span></div>
                            </div>
                        {% endif %}
                        {% else %}{% if not rental_event.returned_date and not rental_event.is_past_due %}
                        <div class="list__rented_item_status">
                            <div class="status_red"><span>Erääntynyt</span></div>
                        </div>
                        {% else %}{% if rental_event.returned_date %}
                        <div class="list__rented_item_status">
                            <div class="status_gray"><span>Palautettu</span></div>
                        </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                
                <!-- <div class="update_event">

                </div> -->
                <div class="remarks">{{rental_event.remarks|default_if_none:""}}</div>
            </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
