{% extends "varasto/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/login.css' %}">
{% endblock stylesheet %}

{% block title %}Varasto{% endblock %}

{% block content %}
<div class="box">
<div class="warp">

    <div class="logo">
        <img src="{% static 'varasto/pics/varasto_logo.png' %}" alt="varasto_logo">
    </div>
    

    
    <div class="form">
        <h1>Unohditko salasanasi?</h1>
        <div>
            <div class="mb-3 upperText">
                Ei hätää, voimme lähettää sinulle
                    sähköpostitse ohjeet uuden salasanan vaihtamiseen,
                    Täytä sähköpostiosoitteesi alla olevaan kenttään
                    ja paina “LÄHETÄ”
            </div>
            <div class="mb-3">
                <!--<label for="exampleInputEmail1" class="form-label">Käyttäjätunnus</label>-->
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sähköposti">
                <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <!--<div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>-->
            <div class="mb-3 lowerText">
                <!--<a href="#" class="link-light link">Unohditko salasanasi?</a>-->
                HUOM! Sähköpostiosoitteen jonka annat täytyy olla sama jonka olet antanut aikaisemmin rekisteröidessä Varasto sivulle
            </div>
            <div class="botton_container mt-5">
                <a href="{% url 'login' %}" class="btn btn-primary me-5">Takaisin</a>
                <button type="submit" class="btn btn-primary">Lähetä</button>
            </div>
        </form>
    </div>
</div>
</div>




{% endblock %}



