{% extends "varasto/base_main.html" %}
{% load i18n %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/rental_events_goods.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> -->
{% endblock %}

{% block title %}Vuokratapahtumat{% endblock %}
{% block path %}Vuokratapahtumat{% endblock %}
{% block page %}Vuokratapahtumat{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    
})
</script>
{% endblock %}

{% block main_content %}
    <div class="filter_panel">
        <div class="sorting">
            <div class="btn-group"> <!--  bi-sort-alpha-up-alt -->
                <a href="{% url 'set_ordering' %}">
                    <button type="button" class="btn btn-secondary {% if order_switcher %}bi-sort-alpha-up{% else %}bi-sort-alpha-down{% endif %}"></button>
                </a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ order_field }}
                </button>
                <ul class="dropdown-menu">
                    {% for key, order in all_order_fields.items %}
                        <li><a class="dropdown-item" href="{% url 'set_order_field' %}?order={{ order }}">{{ order }}</a></li>
                        {% if forloop.counter == 2 %}<li><hr class="dropdown-divider"></li>{% endif %}
                    {% endfor %}
                    <!-- <li><a class="dropdown-item" href="#">Alkamispäivä</a></li>
                    <li><a class="dropdown-item" href="#">Päättymispäivä</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Nimi</a></li>
                    <li><a class="dropdown-item" href="#">Tavara</a></li> -->
                </ul>
            </div>
            <div class="btn-group">
                <a href="{% url 'set_rental_event_view' %}?name=rental_events" class="nodecor" id="rental_view_switch" name="rental_events">
                    <button type="button" class="btn btn-secondary">
                        Vuokrajat ensin
                    </button>
                </a>
            </div>
        </div>
        
        <div class="date_selection">
            <form action="" method="get">
                <input name="rental_start" id="rental_start" class="d-flex flex-grow-1 flex-shrink-1 datepicker_input form-control" type="date" value="{{first_date|date:'Y-m-d'}}" />
                <span class="ms-2 me-2"> - </span>
                <input name="rental_end" id="rental_end" class="d-flex flex-grow-1 flex-shrink-1 datepicker_input form-control" type="date" value="{{last_date|date:'Y-m-d'}}" />
                <button type="submit" id="date_submit" class="btn btn-secondary" hidden></button>
            </form>
        </div>

        <div class="checkbox_filters px-3">
            <!-- <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-01">
                <label class="form-check-label" for="chk-01">Lainassa</label>
            </div> -->
            <!-- <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-02">
                <label class="form-check-label" for="chk-02">Opiskelijat</label>
            </div>
            <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-03">
                <label class="form-check-label" for="chk-03">Opettajat</label>
            </div> -->
            <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-04-1">
                <label class="form-check-label" for="chk-04-1">Erääntynyt</label>
            </div>
            <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="chk-05">
                <label class="form-check-label" for="chk-05">laajenna luetteloa</label>
            </div> -->
        </div>
    </div>

    <div class="column_names">
        <div class="column"><span>Tavara</span></div>
        <div class="column"><span>Lainaaja</span></div>
        <div class="column"><span>STATUS</span></div>
        <div class="column"><span>Alkamispäivä</span></div>
        <div class="column"><span>Arvioitu palautuspäivä</span></div>
        <div class="column"><span>Kommentti</span></div>
        <div class="column"><span></span></div>
    </div>

    <div class="list">
        {% for event in events %}
            <div class="list__item brd_top" userid="{{event.item.id}}" {% if not event.returned_date and not event.is_past_due %}is_overdue="1"{% else %}is_overdue="0"{% endif %}>
                <div class="list__item_photo">
                    {% if event.item.picture %}
                    <div>
                        <a href="{% url 'product' event.item_id %}">
                            <img src="{% static event.item.picture %}" alt="{{event.item.picture}}">
                        </a>
                    </div>
                    {% else %}
                    <div class="photo_svg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                        </svg>
                    </div>
                    {% endif %}
                </div>
                <div class="list__item_student">
                    <span><a href="{% url 'product' event.item_id %}">{{event.item.brand|default_if_none:""}} {{event.item.model|default_if_none:""}}</a></span>
                    <span><a href="{% url 'product' event.item_id %}">{{event.item.item_name}}</a></span>
                </div>
                <div class="list__item_group">
                    <span><a href="{% url 'renter' event.renter_id %}">{{event.renter.first_name}} {{event.renter.last_name}}</a></span>
                    <span><a href="{% url 'renter' event.renter_id %}">{{event.renter.email|default_if_none:""}}</a></span>
                </div>
                <div>
                    {% if not event.returned_date and event.is_past_due %}
                        {% if event.item.cat_name_id == CATEGORY_CONSUMABLES_ID %}
                            <div class="list__rented_item_status">
                                <div class="status_orange"><span>Lainassa*</span></div>
                            </div>
                        {% else %}
                            <div class="list__rented_item_status">
                                <div class="status_green"><span>Lainassa</span></div>
                            </div>
                        {% endif %}
                        {% else %}{% if not event.returned_date and not event.is_past_due %}
                        <div class="list__rented_item_status">
                            <div class="status_red"><span>Erääntynyt</span></div>
                        </div>
                        {% else %}{% if event.returned_date %}
                        <div class="list__rented_item_status">
                            <div class="status_gray"><span>Palautettu</span></div>
                        </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="list__item_st-time">
                    <span>{{event.start_date|date:'d.m.Y'}}</span>
                </div>
                <div class="list__item_etime">
                    <span>{{event.estimated_date|date:'d.m.Y'}}</span>
                </div>
                <div class="list__item_comment">
                    <span>{{event.remarks|default_if_none:""}}</span>
                </div>
            </div>
            
        {% endfor %}
    </div>
    <div class="pagination mt-5 mb-5">
        <span class="step-links">
            <a href="?page=1&show_all={{is_show_all}}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-double-left font-size"></span></button></a>
            <a href="?{% if events.has_previous %}page={{ events.previous_page_number }}&{% endif %}show_all={{is_show_all}}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-left font-size"></span></button></a>
            
            <span class="current">
                Sivu {{ events.number }} / {{ events.paginator.num_pages }}
            </span>

            <a href="?{% if events.has_next %}page={{ events.next_page_number }}&{% endif %}show_all={{is_show_all}}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-right font-size"></span></button></a>
            <a href="?page={{ events.paginator.num_pages }}&show_all={{is_show_all}}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-double-right font-size"></span></button></a>
        </span>
    </div>



{% endblock %}