{% extends "varasto/base_main.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/rental_events.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}Storage events{% endblock %}
{% block path %}Vuokratapahtuma{% endblock %}
{% block page %}Vuokratapahtuma{% endblock %}

{% block main_content %}
    <div class="filter_panel">
        <div class="sorting">
            <div class="btn-group"> <!--  bi-sort-alpha-up-alt -->
                <button type="button" class="btn btn-secondary bi-sort-alpha-down">
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Alkamispäivä
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Alkamispäivä</a></li>
                    <li><a class="dropdown-item" href="#">Päättymispäivä</a></li>
                    <li><a class="dropdown-item" href="#">Status</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Nimi</a></li>
                    <li><a class="dropdown-item" href="#">Tavara</a></li>
                </ul>
            </div>
        </div>

        <div class="date_selection">
            <button type="button" class="btn btn-secondary">
                01.02.2022
            </button>
            <span class="ms-2 me-2"> - </span>
            <button type="button" class="btn btn-secondary">
                25.02.2022
            </button>
        </div>

        <div class="checkbox_filters px-3">
            <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-01">
                <label class="form-check-label" for="chk-01">Lainalla</label>
            </div>
            <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-02">
                <label class="form-check-label" for="chk-02">Opiskelijat</label>
            </div>
            <div class="form-check me-4">
                <input class="form-check-input" type="checkbox" value="" id="chk-03">
                <label class="form-check-label" for="chk-03">Opettajat</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="chk-04">
                <label class="form-check-label" for="chk-04">Erääntynyt</label>
            </div>
        </div>
    </div>

    <div class="column_names">
        <div class="column"><span>lainanottaja</span></div>
        <div class="column"><span>KUOLUN RYHMÄ</span></div>
        <div class="column"><span>STATUS</span></div>
        <div class="column"><span>alkamispäivä</span></div>
        <div class="column"><span>arvioitu paluupäivä</span></div>
        <div class="column"><span>päättymispäivä</span></div>
    </div>

    <div class="list">
        {% for grouped_event in grouped_events %}
            {% comment %} {{grouped_event.renter}} - {{grouped_event.renter.first_name}} - {{grouped_event.item}} - {{grouped_event.start_date}} {% endcomment %}
            <div class="list__item brd_top" userid="{{grouped_event.renter.id}}">
                <div class="list__item_photo">
                    <div><img src="{% static 'varasto/pics/people/janko-ferlic.jpg' %}" alt="janko-ferlic.jpg"></div>
                </div>
                <div class="list__item_student">
                    <span>{{grouped_event.renter.first_name}} {{grouped_event.renter.last_name}}</span>
                    <span>{{grouped_event.renter.email|default_if_none:""}}</span>
                </div>
                <div class="list__item_group">
                    <span>{{grouped_event.renter.role|default_if_none:""}}</span>
                    <span>{{grouped_event.renter.group|default_if_none:""}}</span>
                </div>
                <div class="list__item_status {% if not grouped_event.is_user_have_non_returned_item %}status_green{% else %}status_red{% endif %}">
                    <span></span>
                </div>
                <div class="list__item_st-time">
                    <!-- <span>15.02.2022</span> -->
                </div>
                <div class="list__item_etime">
                    <!-- <span>15.02.2022</span> -->
                    <a class="button_link" href="{% url 'renter' grouped_event.renter_id %}">
                        <button type="button" class="list__button list__button_bg_green btn_strech">
                            <span class="list__button__text ">Muokata</span>
                        </button>
                    </a>
                </div>
                <div class="list__collapse">
                    <button type="button" userid="{{grouped_event.renter.id}}" class="list__button list__button_bg_white">
                        <div>
                            <i class="bi bi-caret-left"></i>
                        </div>
                    </button>
                </div>
            </div>
            {% for event in events %}
                {% if event.renter.id == grouped_event.renter_id %}
                    <div class="sublist_warp" userid="{{grouped_event.renter.id}}" style="display: none;">
                        <div class="list__rented_item">
                            <div class="list__nameof_rented_item brd_left">
                                <span>{{event.item.item_name|default_if_none:""}} {{event.item.brand|default_if_none:""}}</span>
                                <span>
                                    {{event.item.model|default_if_none:""}} 
                                    {{event.item.item_type|default_if_none:""}} 
                                    {{event.item.size|default_if_none:""}}
                                    {{event.item.parameters|default_if_none:""}}
                                    {{event.item.package|default_if_none:""}}
                                </span>
                            </div>
                            {% if not event.returned_date and event.is_past_due %}
                            <div class="list__rented_item_status status_green">
                                <span>Lainalla</span>
                            </div>
                            {% else %}{% if not event.returned_date and not event.is_past_due %}
                            <div class="list__rented_item_status status_red">
                                <span>Erääntynyt</span>
                            </div>
                            {% else %}{% if event.returned_date %}
                            <div class="list__rented_item_status status_gray">
                                <span>Päättänyt</span>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            <div class="list__item_st-time">
                                <span>{{event.start_date|date:'d.m.Y'}}</span> 
                            </div>
                            <div class="list__item_etime">
                                <span>{{event.estimated_date|date:'d.m.Y'}}</span>
                            </div>
                            <div class="list__item_end-time">
                                <span>{{event.returned_date|date:'d.m.Y'}}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>




{% endblock %}