{% extends "varasto/base_main.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/renter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/base_main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'varasto/vuokraus_tilanne.css' %}">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> -->
{% endblock %}

{% block title %}Vuokraaja {{ selected_user.first_name }} {{ selected_user.last_name }}{% endblock %}
{% block path %}Vuokratapahtumat / Vuokraaja {{ selected_user.first_name }} {{ selected_user.last_name }}{% endblock %}
{% block page %}Vuokraaja {{ selected_user.first_name }} {{ selected_user.last_name }}{% endblock %}

{% block script %}
<script type="text/javascript">
        function closeReturn(element, id){
            if ( $(element).is(':checked') ) {
                $('#return_amount'+id).prop("disabled", true)
                $('#everything_returned'+id).prop("disabled", true)
            } else {
                $('#return_amount'+id).prop("disabled", false)
                $('#everything_returned'+id).prop("disabled", false)
            }
        }
</script>
{% endblock %}

{% block main_content %}

    <div class="main_warp">
        <div class="person_info">
            <div class="photo">
                <!-- <div><img src="{% static 'varasto/pics/people/portrait-800.jpg' %}" alt="portrait.jpg"></div> -->
                <div>
                    {% if selected_user.photo %}
                    <img src="{% static selected_user.photo %}" alt="{{selected_user.photo}}">
                    {% else %}
                    <img src="{% static 'images/no_person_photo.png' %}" alt="no_person_photo.png">
                    {% endif %}
                </div>
            </div>
            <div class="information ps-3">
                <span class="student_name">{{ selected_user.first_name }} {{ selected_user.last_name }}</span>
                <span class="student_group">{{ selected_user.group|default:"-" }}</span>
                <span class="personal_field_name">Puhelin</span>
                <span class="personal_field_data">{{ selected_user.phone|default:"-" }}</span>
                <span class="personal_field_name">Opiskelijanumero</span>
                <span class="personal_field_data">{{ selected_user.code|default:"-" }}</span>
                <span class="personal_field_name">Sähköposti</span>
                <span class="personal_field_data">{{ selected_user.email|default:"-" }}</span>
                <span class="personal_field_name">Vastuuopettaja</span>
                <span class="personal_field_data">{{ selected_user.responsible_teacher.first_name|default:"-" }} {{ selected_user.responsible_teacher.last_name|default_if_none:"" }}</span>
            </div>
            <div class="new_rental">
                <a class="nodecor pb-3" href="{% url 'report' selected_user.id %}">
                    <button type="submit" class="button button_bg_blue resize">
                        <span class="button__text resize">Raportti</span>
                        <span class="button__icon"><i class="bi bi-printer"></i>
                        </span>
                    </button>
                </a>
                <a class="nodecor" href="{% url 'new_event' %}?add_user={{ selected_user.code }}">
                    <button type="submit" class="button button_bg_green resize">
                        <span class="button__text resize">Lisää tavara</span>
                        <span class="button__icon">+</span>
                    </button>
                </a>
            </div>

        </div>
        <div class="pagination mt-3">
            <span class="step-links">
                <a href="?page=1"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-double-left font-size"></span></button></a>
                <a href="{% if rental_events.has_previous %}?page={{ rental_events.previous_page_number }}{% endif %}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-left font-size"></span></button></a>
                
                <span class="current">
                    Sivu {{ rental_events.number }} / {{ rental_events.paginator.num_pages }}
                </span>
    
                <a href="{% if rental_events.has_next %}?page={{ rental_events.next_page_number }}{% endif %}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-right font-size"></span></button></a>
                <a href="?page={{ rental_events.paginator.num_pages }}"><button class="list__button list__button_bg_blue btn_strech"><span class="bi bi-chevron-double-right font-size"></span></button></a>
            </span>
        </div>
        <div class="history_header_wrap">
            <div class="column_names">
                <div><span></span></div>
                <div><span>Tapahtuman tiedot</span></div>
                <div><span>Tapahtuman tiedot</span></div>
                <div><span>Vuokra-aika</span></div>
                <div><span>Kommentit</span></div>
                <div><span>Lopetus</span></div>
            </div>
        </div>


        <div class="history">
            {% for rental_event in rental_events %}
            {% if rental_event.item %}
            <div class="history_list">
                
                <div class="history_photo">
                    {% if rental_event.item.picture %}
                    <div>
                        <a href="{% url 'product' rental_event.item.id %}" class="nodecor"><img src="{% static rental_event.item.picture %}" alt="{{rental_event.item.picture}}">
                        </a>
                    </div>
                    {% else %}
                    <div class="photo_svg">
                        <!-- <i class="bi bi-wrench-adjustable"></i><i class="bi bi-hammer"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                        </svg>
                    </div>
                    {% endif %}
                </div>
                
                <div class="">
                    <a href="{% url 'product' rental_event.item.id %}" class="nodecor item_info">
                        <div>
                            <span class="item_name">{{rental_event.item.item_name}} {{rental_event.item.brand|default_if_none:""}}</span>  
                            <span class="item_props">{{rental_event.item.model|default_if_none:""}} {{rental_event.item.item_type|default_if_none:""}} {{rental_event.item.parameters|default_if_none:""}} {{rental_event.item.size|default_if_none:""}}</span>
                        </div>
                        <div class="item_info_place">
                            <span class="item_num_name">Määrä</span>
                            <span class="item_num">
                                {% if rental_event.item.cat_name_id != CATEGORY_CONSUMABLES_ID %}
                                    {{rental_event.amount|default_if_none:"--"}} kpl
                                {% else %}
                                    {% if rental_event.units %}
                                    {{rental_event.contents|normalize_dec|default_if_none:"-"}} {{rental_event.item.unit|default_if_none:"-"}}
                                    {% else %}
                                    {{rental_event.amount|default_if_none:""}} {% if rental_event.amount > 1 %} pakettia {% else %} paketti {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                        <div>
                            <span class="item_num_name">Tuotepaikka / Tuotekoodi</span>
                            <!-- <span class="item_num">{{rental_event.id_start_null}}</span> -->
                            <span class="item_num">{{rental_event.item.storage_place|default_if_none:"-"}} / {{rental_event.item.id}}</span>
                        </div>
                    </a>
                </div>
                
                <div class="">
                    <a href="{% url 'product' rental_event.item.id %}" class="nodecor item_info">
                        <div>
                            <span class="item_num_name">Tapahtumakoodi</span>
                            <span class="item_num">{{rental_event.id}}</span>
                        </div>
                        <div class="item_info_place">
                            <span class="item_num_name">Palautus määrä</span>
                            <span class="item_num">
                                {% if rental_event.item.cat_name_id != CATEGORY_CONSUMABLES_ID %}
                                    {{rental_event.returned|normalize_dec|default_if_none:"-"}} kpl
                                {% else %}
                                    {% if rental_event.units %}
                                    {{rental_event.returned|normalize_dec|default_if_none:"-"}} {{rental_event.item.unit|default_if_none:"-"}}
                                    {% else %}
                                    {{rental_event.returned|normalize_dec|default_if_none:"-"}} {% if rental_event.amount > 1 %} pakettia {% else %} paketti {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                        <div>
                            <span class="item_num_name"></span>
                            <span class="item_num"></span>
                        </div>
                    </a>
                </div>

                

                <div class="rental_period">
                    <!-- Если аренда закончина, написать дату возврата, вместо начала и предполагаемой даты -->
                    <span class="rental_period_date">
                        {% if not rental_event.returned_date %}
                        {{rental_event.start_date|date:'d.m.Y'}} - {{rental_event.estimated_date|date:'d.m.Y'}}
                        {% else %}
                        {{rental_event.start_date|date:'d.m.Y'}} - {{ rental_event.returned_date|date:'d.m.Y' }}
                        {% endif %}
                    </span>
                    {% if not rental_event.returned_date and rental_event.is_past_due %}
                        {% if rental_event.item.cat_name_id == CATEGORY_CONSUMABLES_ID %}
                            <div class="list__rented_item_status">
                                <div class="status_orange"><span>Lainassa*</span></div>
                            </div>
                        {% else %}
                            <div class="list__rented_item_status">
                                <div class="status_green"><span>Lainassa</span></div>
                            </div>
                        {% endif %}
                        {% else %}{% if not rental_event.returned_date and not rental_event.is_past_due %}
                        <div class="list__rented_item_status">
                            <div class="status_red"><span>Erääntynyt</span></div>
                        </div>
                        {% else %}{% if rental_event.returned_date %}
                        <div class="list__rented_item_status">
                            <div class="status_gray"><span>Palautettu</span></div>
                        </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="remarks">{{rental_event.remarks|default_if_none:""}}</div>
                
                <div class="update_event">
                    <div class="buttons">
                        <!-- При обновлении даты, нельзя дать возможность менять дату в меньшую сторону!!! -->
                        <button type="button" class="list__button btn_strech {% if rental_event.returned_date or not is_staff_user_has_permission_to_edit %}list__button_inactive{% else %}list__button_bg_blue{% endif %}" data-bs-toggle="modal" data-bs-target="#p{{rental_event.id}}" >
                            <span class="list__button__text ">Päivitä</span>
                        </button>
                    </div>
                    <div class="buttons">
                        <button type="button" class="list__button btn_strech {% if rental_event.returned_date or not is_staff_user_has_permission_to_edit %}list__button_inactive{% else %}list__button_bg_blue{% endif %}" data-bs-toggle="modal" data-bs-target="#l{{rental_event.id}}">
                            <span class="list__button__text ">Lopeta</span>
                        </button>
                    </div>
                </div>
            </div>
            

            <!-- Modal 1-->
            <div class="modal fade" id="p{{rental_event.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Päivitä tapahtuma</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'renter' selected_user.id %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <!-- Send rental id as rental_event_id to renter view -->
                                <input type="hidden" name="rental_event_id" value="{{ rental_event.id }}">
                                <!-- Send variables to the vuokraus_tilanne1 -->
                                {% include 'varasto/vuokraus_tilanne1.html' with rental_event=rental_event datenow=datenow %}
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">sulje</button>
                                <button type="submit" class="btn btn-primary">TALLENNA</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Modal 2-->
            <div class="modal fade" id="l{{rental_event.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Lopeta tapahtuma</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'renter' selected_user.id %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <input type="hidden" name="rental_event_id" value="{{ rental_event.id }}">
                                {% if rental_event.item.cat_name_id == CATEGORY_CONSUMABLES_ID %}
                                    {% include 'varasto/vuokraus_tilanne3.html' with rental_event=rental_event datenow=datenow %}
                                {% else %}
                                    {% include 'varasto/vuokraus_tilanne2.html' with rental_event=rental_event datenow=datenow %}
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">sulje</button>
                                {% if rental_event.item.cat_name_id == CATEGORY_CONSUMABLES_ID %}
                                <button type="submit" name="_close_rent_cons" value="{{rental_event.id}}" class="btn btn-primary">LOPETA</button>
                                {% else %}
                                <button type="submit" name="_close_rent" value="{{rental_event.id}}" class="btn btn-primary">LOPETA</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="history_list">
                <div class="history_photo">
                    <div class="d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
                        </svg>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <span class="item_props">Tavara poistettiin</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        

        
    
    </div>

{% endblock %}
