{% load static %}
<div class="refund_page">
    <div class="row01">
        <img src="{% static rental_event.item.picture %}" class="img-thumbnail" alt="{{ rental_event.item.picture }}">
    </div>
    <div class="row01">
        <div class="span_warp">
            <span class="largest">{{ rental_event.item.item_name }} {{ rental_event.item.brand }}</span>
            <span class="small_medium">
                {{rental_event.item.model|default_if_none:""}} 
                {{rental_event.item.item_type|default_if_none:""}} 
                {{rental_event.item.size|default_if_none:""}}
                {{rental_event.item.parameters|default_if_none:""}}
                {{rental_event.item.package|default_if_none:""}}
            </span>
            <!-- <span class="middle_medium">Tuotetiedot</span> -->
            <span class="small mt-3">Tuotenumero</span>
            <span class="middle">{{rental_event.id_start_null}}</span>
            <span class="small mt-3">Tuotepaikka</span>
            <span class="middle">{{rental_event.storage.rack}} - {{rental_event.storage.shelf}} - {{rental_event.storage.place}}</span>
        </div>
    </div>


    <div class="row02 mt-4">
        <div class="form-check">
            <div class="boxes">
                <input class="form-check-input" type="checkbox" value="" id="check_back" checked>
                <label class="form-check-label ms-2" for="check_back">
                    Palautettu
                </label>
            </div>
        </div>
        <div class="form-check mt-2">
            <div class="boxes">
                <input class="form-check-input" type="checkbox" value="" id="check_problem">
                <label class="form-check-label ms-2" for="check_problem">
                    Tavarassa/työkalussa vika
                </label>
            </div>
        </div>
        <div class="row02 mt-1">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="text_problem" style="height: 150px "></textarea>
                <label for="text_problem">Kirjoita tähän tarkempi selostu viasta..</label>
            </div>
        </div>
        <!-- <div class="row02 right">
            <div>
                <button type="button" class="button">
                    <span class="button__text">PERUUTA</span>
                </button>
        
                <button type="button" class="button">
                    <span class="button__text">TALLENNA</span>  
                </button>
            </div>
        </div> -->
    </div>
</div>
