{% load static %}
<div class="refund_page">
    <div class="row01">
        {% if rental_event.item.picture %}
        <img src="{% static rental_event.item.picture %}" class="img-thumbnail" alt="{{ rental_event.item.picture }}" onerror="this.onerror=null;this.src='{% static 'images/No_product_b.png' %}'; this.style.opacity='95%'">
        {% else %}
        <div class="history_photo2">
            <div class="photo_svg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                    <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                </svg>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row01">
        <div class="span_warp">
            <span class="largest">{{ rental_event.item.item_name }} {{ rental_event.item.brand|default_if_none:"" }}</span>
            <span class="small_medium">
                {{rental_event.item.model|default_if_none:""}} 
                {{rental_event.item.item_type|default_if_none:""}} 
                {{rental_event.item.size|default_if_none:""}}
                {{rental_event.item.parameters|default_if_none:""}}
                {{rental_event.item.package|default_if_none:""}}
            </span>
            <!-- <span class="middle_medium">Tuotetiedot</span> -->
            {% comment %} {{rental_event.id_start_null}} {% endcomment %}
            <span class="small mt-3">Tuotenumero</span>
            <span class="middle">{{rental_event.item.id}}</span>
            <span class="small mt-3">Tuotepaikka</span>
            <span class="middle">{{rental_event.item.storage_place|default_if_none:"-"}}</span>
        </div>
    </div>


    <div class="row02 mt-4">
        <div class="form-check">
            <div class="boxes">
                <input name="set_end_date" class="form-check-input" type="checkbox" value="" id="checkbox_back_{{rental_event.id}}" checked>
                <label class="form-check-label ms-2" for="checkbox_back_{{rental_event.id}}">
                    Palautettu
                </label>
            </div>
        </div>
        <div class="form-check mt-2">
            <div class="boxes">
                <!-- checkbox ei toimii, koska sivulla on paljon sama modal ikkunoita ja niillä kaikkilla on sama id=check_back !!!!!!!!! -->
                <input name="send_email_item_is_damaged" class="form-check-input" type="checkbox" value="" id="check_problem_{{rental_event.id}}">
                <label class="form-check-label ms-2" for="check_problem_{{rental_event.id}}">
                    Tavarassa / työkalussa on vika
                </label>
            </div>
        </div>
        <div class="row02 mt-1">
            <div class="form-floating">
                <textarea name="damaged_remarks" class="form-control" placeholder="Leave a comment here" id="text_problem" style="height: 150px "></textarea>
                <label for="text_problem">Kirjoita tähän tarkempi selostu viasta..</label>
            </div>
        </div>
        <!-- <div class="row02 right">
            <div>
                <button type="button" class="button">
                    <span class="button__text">PERUUTA</span>
                </button>
        
                <button type="button" class="button">
                    <span class="button__text">TALLENNA</span>  
                </button>
            </div>
        </div> -->
    </div>
</div>
