{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'varasto/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'varasto/base.css' %}">
    {% block stylesheet %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="{% static 'varasto/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'varasto/htmx.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript">
        $(document).ready( function(){
            // // Set scroll postion with session storage
            // var pathName = document.location.pathname
            // var selector = '#wb'
            // $(selector).on('scroll', function(){
            //     sessionStorage['scrollTop' + pathName] = $(selector).scrollTop();
            // });
            // $(selector).scrollTop(sessionStorage['scrollTop' + pathName]);
            // -- Set scroll postion with session storage
            
            //https://bitcoden.com/answers/how-can-i-retain-the-scroll-position-of-a-scrollable-area-when-pressing-back-button
            // Set scroll postion with browser history api
            var selector = '#wb'
            if (history.state) {
                $(selector).scrollTop(history.state.data)
            }
            $(selector).scroll(function() {
                var scrollPos = $(selector).scrollTop()
                var stateObj = { data: scrollPos }
                history.replaceState(stateObj, "")
            })
            // -- Set scroll position with browser history api

            // AJAX burger_settings
            const setBurger = (btn_text_display, has_btn_resize_class, is_aside_thin) => {
                $.ajax({
                    type: 'POST',
                    url: '/burger_settings/',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'btn_text_display': btn_text_display,
                        'has_btn_resize_class': has_btn_resize_class,
                        'is_aside_thin': is_aside_thin,
                    },
                    success: (response)=> {
                        console.log(response)
                    },
                    complete: function(response) {
                        console.log(response.responseJSON.burger_settings_json)
					}
                })
            }

            function set_burger(btn_text_display, has_btn_resize_class, is_aside_thin){
                $('.button__text').css('display', btn_text_display)
                if (has_btn_resize_class=='true'){
                    $('.button').addClass('resize')
                } else {
                    $('.button').removeClass('resize')
                }
                if (is_aside_thin=='true'){
                    $('.main_container').removeClass('container_grid_wide').addClass('container_grid_thin')
                } else {
                    $('.main_container').removeClass('container_grid_thin').addClass('container_grid_wide')
                }
            }

            set_burger('{{burger_settings_json.btn_text_display}}', '{{burger_settings_json.has_btn_resize_class}}', '{{burger_settings_json.is_aside_thin}}')

            $('.logos_burger').click(function(){
                // console.log($('.button__text').css('display'))
                // console.log($('.button').hasClass('resize'))
                // console.log($('.main_container').hasClass('container_grid_thin'))
                
                $('.button__text').toggle()
                $('.button').toggleClass('resize')
                if ($('.main_container').hasClass('container_grid_thin')) {
                    $('.main_container').toggleClass('container_grid_wide')
                    $('.main_container').removeClass('container_grid_thin')
                } else {
                    $('.main_container').toggleClass('container_grid_thin')
                    $('.main_container').removeClass('container_grid_wide')
                }
                var btn_text_display = $('.button__text').css('display')
                var has_btn_resize_class = $('.button').hasClass('resize')
                var is_aside_thin = $('.main_container').hasClass('container_grid_thin')

                setBurger(btn_text_display, has_btn_resize_class, is_aside_thin)
            })
        });

    </script>
    <!-- <style>
        {% if burger_settings %}
            .button__text{
                display: flex;
            }
            .resize {
                width: 100%;
            }
            .container_grid_wide{
                grid-template-columns: 280px 1fr 1fr 1fr; 
            }
            .container_grid_thin{
            }
        {% else %}
            .button__text{
                display: none;
            }
            .resize {
            }
            .container_grid_wide{
            }
            .container_grid_thin{
                grid-template-columns: 100px 1fr 1fr 1fr; 
            }
        {% endif %}
    </style> -->
    {% block script %}{% endblock %}

</head>
<body>
    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'varasto/bootstrap.min.js' %}"></script> -->
</body>
<script>
    
</script>
</html>