{% extends "varastomain_base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'varasto/main_base.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}Main page{% endblock %}

{% block newItem %}

{% now "d.m.Y" as todays_date %}
{{rental_event.estimated_date|date:"d.m.Y"}}<br/>{{datenow}}<br/>{{todays_date}}
{% if rental_event.estimated_date|date:"d.m.Y" < todays_date %}
<span></span>
{% endif %}


{% endblock %}