.warp_newevent{
    display: flex;
    justify-content: center;
}

 .row01 {
    display: flex;
    /*border: 1px solid red;*/
    padding: 1em;
}


.button_icon_plus {
    display: inline-flex;
    height: 40px;
    width: 50px;
    padding: 0.1em 0 0 0;
    color: #FFFFFF;
    background: #24A19C;
    border: none;
    outline: none;
    border-radius: 0.40em;
    overflow: hidden;
    cursor: pointer;
    justify-content:center;
    align-items:center;
    /* border: 1px solid red; */
}
.button_icon_plus span, .button_icon_dash span{
    font-size: 2em;
    /* border: 1px solid red; */
}

.button_icon_dash {
    display: inline-flex;
    height: 40px;
    width: 50px;
    padding: 0.1em 0 0 0;
    color: #FFFFFF;
    background: #D96098;
    border: none;
    outline: none;
    border-radius: 0.40em;
    overflow: hidden;
    cursor: pointer;
    justify-content:center;
    align-items:center;
}

