/* BUTTONS */
.list__button {
    display: inline-flex;
    height: 39px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    justify-content: center; 
}

.list__button_big_size {
    width: 130px;
}

.btn-small{
        min-width: 8em;
}

.btn_strech {
    place-self: center stretch;
    
}

.list__button_bg_green {
    color: white;
    background: #24A19C;
}

.list__button_bg_white {
    background: white;
}

.list__button_bg_red {
    color: white;
    background: #D96098;
}

.list__button_bg_blue {
    color: white;
    background: #325288;
}

.list__collapse button div {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.list__button__text{
    padding: 0 1.5em;
}

.list__button span {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.list__button, .list__button:hover, .list__button:visited {
    text-decoration: none;
    color: white;
}