h1 {
    /* color: #2D3748; */
    color: #2D3748;
    text-align: center;
    font-family: 'rubik';
    /* font-family: 'rubik'; */
}

html, body {
    height: 100%;
    margin: 0;  
}

body * {
    font-family: 'rubik';
    
}

.warp {
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    width: 700px;
    text-align: center;

}

.form {
    width: 700px;
    height: 500px;
    padding: 2.2em 7em;
    /* border: 1px solid green; */

    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
}

.box {
    display: flex; 
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */
    background: url('pics/background_pic.jpg');
    background-size: cover;
    /*backdrop-filter: blur(10px);*/
}

.form .form-label {
    color: white !important;
}

.form .form-text {
    color: white !important;
}

.link_container {
    text-align: center;
    color: gainsboro
}

.botton_container {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    text-transform: uppercase;
    background-color: #28314B !important;
    border: #28314B !important;
    padding: 0.7em 3em !important;
    transition-duration: 0,4s;
}

.btn-primary:hover {
    /* background-color: #252d3a !important; */
    color: white !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.exm {
    border: 3px solid green;
}

.form .b {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white
    
}

.upperText {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    color: white;
    font: bold;
}

.lowerText {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    color: white;
}

.logo img {
    width: 500px;
    margin-bottom: 100px;
}