.main_container {
    display: grid; 
    grid-template-columns: 280px 1fr 1fr 1fr; 
    grid-template-rows: 105px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header Header Header"
      "aside main main main"
      "aside main main main";
	/* max-width: 1600px; */
	margin: 0 auto;
    height: 100%;
    /* border: 1px solid green; */
    background-color: #F2F2F2;
    color: #2D3748;
    font-family: rubik;
    font-size: 16px;
    min-width: 1200px;
}

    header { 
        grid-area: Header;
        padding: 1em;
    }
    aside { 
        grid-area: aside;
        padding: 0em 0.5em 1em 1em; /* Aside oikealla 0.5em ja Main väsemällä 0.5em */
        }
    main { 
        grid-area: main;
        padding: 0em 1em 1em 0.5em; /* Aside oikealla 0.5em ja Main väsemällä 0.5em */
    }

    header, aside, main {
        /* border: 1px solid red; */
    }

    .white_background {
        background-color: white;
        border-radius: 3px;
        height: 100%;
        padding: 0.5em;
    }


/* ----HEADER---- */
header .warp {
    display: grid;
    grid-template-columns: 20em 1fr 1fr 1fr;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
    /* header .warp > div {
        place-self: center stretch;
        justify-self: start;
        border: 1px solid green;
        padding-left: 10px;
        font-size: 1.5em;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 10px;
        justify-content: space-between;
    } */
    header .warp > div {
        place-self: center stretch;
        /* justify-self: start; */
        /* border: 1px solid green; */
    }
    .search form {
        display: inline-flex;        
        width: 100%;
        min-width: 20em;
        /* border: 1px solid red; */
    }

    .logos {
        font-size: 1.5em;
    }
    .account {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .account span {
        text-align: right;
    }
    .account a, .account a:hover, .account a:visited, .account span {
        text-decoration: none;
        color: #718096;
    }
    .page_name {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .page_name span {
        text-align: left;
    }
    .page_name span:nth-child(1) {
        font-size: 0.9em;
        font-weight: 400;
    }
    .page_name span:nth-child(2) {
        font-size: 1.5em;
        font-weight: 700;
    }

    .item_left {
        display: flex;
        justify-content: start;
    }
    .item_right {
        display: flex;
        justify-content: end;
    }

    .image {
        max-width: 7em;
        height: auto;
    }
    header .warp > div span {
        padding-left: 10px;
        padding-right: 10px;
        /* border: 1px solid red;  */
    }
    
/* /----HEADER---- */


/* ----MENU---- */
aside {

}
    .button {
        display: inline-flex;
        height: 55px;
        padding: 0;
        border: none;
        outline: none;
        border-radius: 3px;
        overflow: hidden;
        font-family: 'rubik';
        font-size: 1em;
        font-weight: 400;
        cursor: pointer;
    }
    .button_bg_green {
        color: white;
        background: #24A19C;
    }
    .button_bg_gray { /* active button*/
        color: #2D3748;
        background: #E4E4E4;
    }
    .button_bg_white { /* inactive button*/
        color: #2D3748;
        background: white;
    }
    .button:hover{
        filter: opacity(85%);
    }
    .button:active{
        filter: opacity(60%);
    }
    .button__text,
    .button__icon {
        display: inline-flex;
        align-items: center;
        padding: 0 24px;
        height: 100%;
    }
    .button__icon{
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.08);
    }
    .resize {
        width: 100%;
    }

/* /----MENU---- */



/* ----MAIN---- */

.list__button {
    display: inline-flex;
    height: 39px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    justify-content: center;
    
}
.btn_strech {
    place-self: center stretch;
}
.list__button__text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    /* border: 1px solid blue; */
}
.list__button_bg_green {
    color: white;
    background: #325288;
}
.list__button_bg_white {
    background: white;
}
.list__collapse button div {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}




.sublist_warp {
    /* margin-bottom: 1em; */
}

.list__item {
    display: grid;
    grid-template-columns: 60px minmax(14em, 1fr) repeat(5, minmax(6em, 0.5fr));
    padding: 5px; 
    /* border: 1px solid blue; */
}
.brd_bottom {
    border-bottom: 1px solid #E2E8F0;
}

.list__rented_item {
    display: grid;
    grid-template-columns: minmax(16em, 1.5fr) repeat(4, minmax(6em, 0.5fr));
    /* border-bottom: 1px solid #E2E8F0; */
    /* border: 1px solid blue; */
    margin-left: 60px;
}

.list__item > div, .list__rented_item > div {
    /* !!!!!!!!!!!!!!!!!!!!!!!!!! */
    /* border: 1px solid red;  */
    place-self: center stretch;
}

.list__item_photo > div{
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 0.7em;
    
}
.list__item_photo img {
    width: 120px;
    height: 80px;
    object-fit:cover;
    object-position: -38px 10%;
    /* object-position: 50% 50%; */ /* kuva keskellä */
}


.list__item_student, .list__item_group, .list__item_st-time, .list__item_etime, .list__item_end-time, 
.list__nameof_rented_item, .list__collapse {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.brd_left {
    border-left: 1px solid #CBD5E0;
}

.list__item_student span {
    padding-left: 1em;
    text-align: left;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.list__nameof_rented_item {
    padding: 5px 5px 5px 5em;
    /* text-align: left; */
    /* border-left: 1px solid red; */
}

.list__item_group span {
    text-align: center;
}
.list__item_student span:nth-child(1), .list__item_group span:nth-child(1),
.list__nameof_rented_item span:nth-child(1) {
    font-size: 1em;
    font-weight: 500;
    color: #2D3748;
}
.list__item_student span:nth-child(2), .list__item_group span:nth-child(2),
.list__nameof_rented_item span:nth-child(2) {
    font-size: 0.875em;
    font-weight: 400;
    color: #718096;
}

.list__item_status, .list__rented_item_status {
    display: flex;
    justify-content: center;
}

.list__item_status > span{
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    background-color: #24A19C;
    border: 1px solid #24A19C;
}

.list__item_st-time span, .list__item_etime span, .list__item_end-time span {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    /* border: 1px solid #24A19C; */
}

.list__collapse span {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

.list__rented_item_status > span{
    display: block;
    width: 6.5em;
    padding: 0 1.2em;
    height: 1.5em;
    border-radius: 0.5em;
    text-align: center;
}

.status_green > span {
    background-color: #24A19C;
    border: 1px solid #24A19C;
    color: white;
}
.status_gray > span {
    background-color: #CBD5E0;
    border: 1px solid #CBD5E0;
    color: #7897AB;
} 


/* /----MAIN---- */