.main {
    padding: 10px 20px;
    height: 100%;
}

.menu_warp {
    border: 2px solid red;
    width: 280px;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
}

.nappi {
    border: 1px solid green;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #24A19C;
    /* border: 3px solid green;
    margin: 5px 6px;
    background-color: aqua; */
}

.grey_background {
    background-color: grey;
    color: white;
}

/* 
.warp {
    border: 5px solid blue  ;
}

.harma_text {
    color: grey;
}
*/

.white_text {
    color: white;
}

.harma_text :hover {
    
} 
