/* BUTTON */
.list__button {
    display: inline-flex;
    height: 39px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    justify-content: center;
}
.btn_strech {
    place-self: center stretch;
}
.list__button_bg_green {
    color: white;
    background: #24A19C;
}

.list__button span {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.font-size{
    font-size: 1.5em;
    padding: 0 0.6em;
}

/* / BUTTON*/

.form-label{
    font-size: 1em;
    font-weight: 400;
    color: #2D3748;
}

.new_user_warp{
    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */
}

/* MAIN BUTTONS */
.main_buttons div {
    /* border: 1px solid red; */
    display: flex;   
}

.button_s {
    display: inline-flex;
    height: 39px;
    width: 130px;
    padding: 0;
    background: #325288;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    justify-content:center ;
}

.button_s__text{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #FFFFFF;
    height: 100%;
    /* border: 1px solid red; */
}

/* / MAIN BUTTONS */

.cont{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.new_user_warp{
    min-width: 400px;
    /* border: 1px solid red; */
}

.user_info p, .user_info h5{
    margin-bottom: 0.2em;
}

.user_info {
    padding: 0 0.6em;
}

.user_info a, .user_info a:hover, .user_info a:visited{
    text-decoration: none;
    color:#325288;
}
