/* BUTTONS IN CONTENT */
/* .list__button {
    display: inline-flex;
    height: 39px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    justify-content: center; 
} */
    /* .btn-small{
        min-width: 8em;
    }
    .btn-sq{

    } */
    /* .btn_strech {
        place-self: center stretch;
    }
    .list__button_bg_green {
        color: white;
        background: #24A19C;
    }
    .list__button_bg_white {
        background: white;
    }
    .list__button_bg_red {
        color: white;
        background: #D96098;
    } */
    /* .list__collapse button div {
        display: inline-flex;
        align-items: center;
        padding: 0 24px;
        height: 100%;
    } */

    /* .list__button__text{
        padding: 0 1.2em;
    } */
    /* .list__button span {
        display: inline-flex;
        align-items: center;
        height: 100%;
    } */
    /* .list__button, .list__button:hover, .list__button:visited {
        text-decoration: none;
        color: white;
    } */

    .font-size{
        font-size: 1.5em;
        padding: 0 0.6em;
    }

    .form-label{
        /* font-size: 0.875em; */
        color: #2D3748;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 600;
    }
    
/* / BUTTONS IN CONTENT */


/* CONTENT */
.w-50{
    width: 50% !important;
}
.new_event_warp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    /* border: 1px solid red; */
}
.new_event_warp > div{
    /* border: 1px solid blue; */
}
.new_event_warp input {
    display: block;
    /* min-width: 60em; */
}
.main_buttons {
    /* flex: 1 1 auto; */
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.main_buttons div {
    /* border: 1px solid red; */
    display: flex;
}
.added_items {
    width: 100%;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

form {
    padding: 0 !important;
}
.new_event_warp h5{
    color: #2D3748;
    /* font-size: 1.4em; */
}

.new_event_warp p{
    color: #718096;
    /* border: 1px solid green; */
    margin: 0 !important;
}
.added_items {
    /* margin-bottom: 1.5rem; */
    
}
.added_items > div {
    display: grid;
    /* grid-template-columns: 3fr minmax(140px, 0.5fr) minmax(200px, 1fr) 53px; */
    grid-template-columns: 3fr  minmax(280px, 1fr) 53px;
    /* border: 1px solid red; */
}

.added_items div, .added_items div div{
    /* border: 1px solid red; */
}

.items div {
    /* border: 1px solid green; */
}

.items {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.border_light {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    /* border: 1px solid green; */
    border-bottom: 1px solid #c6cfdd;
}

/* / CONTENT */



/* MAIN BUTTONS */

/* .button_s {
    display: inline-flex;
    height: 39px;
    width: 130px;
    padding: 0;
    background: #325288;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    justify-content:center ;
}

.button_s__text{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #FFFFFF;
    height: 100%;
    border: 1px solid red;
} */
/* .btn-primary, .btn-primary:active, .btn-primary:visited {
    text-transform: uppercase;
    background-color: #325288 !important;
    border: #325288 !important;
    padding: 0.7em 1em !important;
    transition-duration: 0,4s;
} */

/* / MAIN BUTTONS */


/* Date */
.new_event_warp div div div div {
    /* border: 1px solid green; */
}

.dates_choice {
    display: flex;
    justify-content: center;
}

.dates > div{
    width: 10em;
}

.dates {
    gap: 3em;
}
/* // Date */

.feedback-invalid{
    color: #D96098;
    font-size: 0.875em;
}
.show{
    display: block;
}
.hide{
    display: none;
}


/* MODAL */
.modal {
    /* max-width: 100% !important;  */
    /* height: 80% !important; */
    /* overflow-y: auto !important;
    overflow-x: auto !important;
    scrollbar-gutter: stable; */
}
.modal-body{
    /* overflow-y: auto !important;
    overflow-x: auto !important;
    scrollbar-gutter: stable; */
}
.modal-dialog {
    /* border: 1px solid red; */
    max-width: 80% !important;
    /* height: 50% !important; */
}

/* .btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    text-transform: uppercase;
    background-color: #28314B !important;
    border: #28314B !important;
    padding: 0.7em 3em !important;
    transition-duration: 0,4s;
} */


/* scrolbar */
.modal-body::-webkit-scrollbar {
    width: 0.4em !important;
    height: 0.4em !important;
    cursor: pointer !important;
  }
   
    .modal-body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3) !important;
        border-radius: 1em !important;
        /* background-color:#CBD5E0; */
    }

    .modal-body::-webkit-scrollbar-thumb {
        border-radius: 1em !important;
        background-color: darkgrey !important;
        /* outline: 1px solid slategrey; */
    }
    .modal-body:hover::-webkit-scrollbar-thumb {
        /* background-color: blue; */
        cursor: pointer !important;
    }


    /* PAGINATION */
    .pagination{
        display: flex;
        justify-content: center;
        color: #2D3748;
        /* border: 1px solid red; */
    }
    .pagination a, .pagination a:hover, .pagination a:visited, .pagination a:active {
        text-decoration: none;
        color: #FFFFFF;
    }
    .step-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.875em;
    }
    .current {
        width: 10em;
        text-align: center;
        /* border: 1px solid red; */
    }

    .list__button_bg_blue {
        color: white;
        background: #325288;
    }
    /* // PAGINATION*/

/* // MODAL */


#add_user_list {
    font-family: 'rubik' !important;
    font-size: 2em !important;
    border: 1px solid red !important;
}


