.columns_name{
    display: grid;
    grid-template-columns: minmax(16em, 2fr) 1fr 1fr 1fr 1fr 1fr 150px;
    margin-left: 50px;
    align-items: center;
    text-transform: uppercase;
    color: #A0AEC0;
}

.columns_name div span{
    font-size: 0.75em;
    font-weight: 500;
}

.columns_name div, .new_event_wrap div{
    /* border: 1px solid blue; */
}
.list__item_photo a, .list__item_photo a:hover, .list__item_photo a:visited {
    text-decoration: none;
    color: black;
}
.list__item_photo > div{
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 0.7em;
    margin-left: 0.5em;
}
.list__item_photo img {
    width: 50px;
    height: 50px;
    object-fit:cover;
    /* object-position: -38px 10%; */
    object-position: 50% 50%; /* kuva keskellä */
}

.list__item_photo > div a > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 0.7em;
    border: 1px solid #dadada;
}
.list__item_photo > div a > div svg {
    width: 50%;
    height: 50%;
    opacity: 95%;
    
}

.est_date{
    display: flex;
    justify-content: center;
    min-width: 5.5em;
}

.new_event_wrap{
    display: grid;
    grid-template-columns: 50px minmax(16em, 2fr) 1fr 1fr 1fr 1fr 1fr 150px;
    border-top: 1px solid #E2E8F0;
    align-items: center;
}
.new_event_wrap:nth-child(odd) {
    background-color: #f8fbff;
}
.row01 {
    /* border: 1px solid red; */
    padding: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.row02{
    padding: 1em;
}

.item_name span, .item_name label{
    display: block;
}

.header{
    font-size: 1em;
    font-weight: 600;
    color: #2D3748;

}

.paragraph{
    font-size: 0.875em;
    font-weight: 400;
    color: #718096;
}

.code_number, .EAN_number{
    font-weight: 400;
    color: #2D3748;
}

.item_status > span{
    display: block;
    width: 8.3em;
    padding: 0 1.2em;
    height: 1.5em;
    border-radius: 0.5em;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 1em;
    font-weight: 500;
}
.status_green {
    background-color: #24A19C;
    border: 1px solid #24A19C;
    color: white;
}
.status_orange {
    background-color: #24A19C;
    border: 1px solid #24A19C;
    color: #fbe4aa;
}
.status_red{
    background-color: #D96098;
    border: 1px solid #D96098;
    color: white;  
    /* border: 1px solid red; */
}

.button_props{
    display: inline-flex;
    width: 100px;
    height: 30px;
    padding: 0;
    
    border: none;
    outline: none;
    border-radius: 2px;
    overflow: hidden;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    justify-content:center ;
}

.button__text{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.button_active{
    color: #FFFFFF;
    background: #325288;
}

.button_inactive{
    color: #889EAF;
    background: #E1E5EA;
}


.filter_panel {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* border: 1px solid red; */
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.filter_panel > div{
    /* border: 1px solid red; */
}
.checkbox_filters {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 0.875em;
}

/* PAGINATION */
.pagination{
    display: flex;
    justify-content: center;
    color: #2D3748;
    /* border: 1px solid green; */
}
.pagination a, .pagination a:hover, .pagination a:visited, .pagination a:active {
    text-decoration: none;
    color: #FFFFFF;
}
.step-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875em;
    /* border: 1px solid green; */
}
.current {
    width: 10em;
    text-align: center;
    /* border: 1px solid red; */
}
/* // PAGINATION*/


/* BUTTONS IN CONTENT */
.list__button {
    display: inline-flex;
    height: 39px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    justify-content: center; 
}
    .btn-small{
        min-width: 8em;
    }
    .btn-sq{

    }
    .btn_strech {
        place-self: center stretch;
    }
    .list__button_bg_green {
        color: white;
        background: #24A19C;
    }
    .list__button_bg_white {
        background: white;
    }
    .list__button_bg_red {
        color: white;
        background: #D96098;
    }
    .list__button_bg_blue {
        color: white;
        background: #325288;
    }
    .list__collapse button div {
        display: inline-flex;
        align-items: center;
        padding: 0 24px;
        height: 100%;
    }

    .list__button__text{
        padding: 0 1.2em;
    }
    .list__button span {
        display: inline-flex;
        align-items: center;
        height: 100%;
    }
    .list__button, .list__button:hover, .list__button:visited {
        text-decoration: none;
        color: white;
    }

    .font-size{
        font-size: 1em;
        padding: 0 0.9em;
    }

    .form-label{
        /* font-size: 0.875em; */
        color: #2D3748;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 600;
    }
    
/* / BUTTONS IN CONTENT */