/* * {
    padding: 0 !important;
    margin: 0 !important;
} */

/* ---person_info--- */

.person_info {
    display: grid;
    grid-template-columns: auto 3fr 1fr; 
    /* align-items: center; */
}
.information {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.1;
    color: #2D3748;
    /* height: 100%; */
}
.information span:nth-child(2n+3) {
    margin-top: 1.6em;
}
.information span {
    /* height: 100%; */
    /* border: 1px solid green; */
}
.person_info div {
    /* border: 1px solid green; */
}
.student_name {
    font-size: 2em;
    font-weight: 600;
}
.student_group, .personal_field_data {
    font-size: 1.5em;
}
.personal_field_name {
    font-size: 1em;
    color: #718096;
}
.photo > div{
    overflow: hidden;
    width: 260px;
    height: 270px;
    border-radius: 0.7em; 
}
.photo > div img {
    width: 260px;
    height: 270px;
    object-fit:cover;
    object-position: 50% 50%; /* kuva keskellä */
}

.new_rental {
    align-self: end;
    display: flex;
    justify-content: center;

}
.new_rental button {
    min-width: 15em;
}
/* /---person_info--- */


/* ---history--- */
.history {
    padding-top: 2em;
    line-height: 1.1;
}
.history_list:nth-child(odd) {
    background-color: #f8fbff;
}
.history_list {
    display: grid;
    /* grid-template-columns: 170px repeat(3, minmax(6em, 1fr)); */
    grid-template-columns: 170px 1fr minmax(16.1em, 1fr) 0.5fr
}
.history_list div {
    /* border: 1px solid green; */
}
.history_photo {
    padding: 0.5em 0.625em;
}
.history_photo > div{
    overflow: hidden;
    width: 130px;
    height: 120px;
    border-radius: 0.7em;
    border: 0.5px solid #7897AB;
    /* padding: 0em; */
}
.history_photo > div img {
    width: 130px;
    height: 120px;
    object-fit: cover;
    object-position: 50% 50%; /* kuva keskellä */
    /* border: 0.5px solid red; */
}


.item_info {
    display: inline-flex;
    flex-direction: column;
    padding: 0.6em 0.5em;
}
.item_info > div {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
}
.item_name {
    color: #2D3748;
    font-size: 1.25em;
    font-weight: 600;
}
.item_props {
    color: #718096;
    font-size: 1em;
    font-weight: 400;
}
.item_num_name {
    color: #718096;
    font-size: 0.875em;
    font-weight: 400;
}
/* !!!!!!!!!!! */
.item_num {
    color: #2D3748;
    font-size: 1.125em;
    font-weight: 400;
}


.rental_period{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    /* border: 1px solid red; */
}
.rental_period_date{
    color: #2D3748;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1em;
}
.list__rented_item_status {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.list__rented_item_status > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5em;
    height: 1.5em;
    border-radius: 0.8em;
    text-align: center;
    padding: 0.8em;
    /* border: 1px solid green; */
}

.status_green {
    background-color: #24A19C;
    border: 1px solid #24A19C;
    color: white;
}
.status_gray {
    background-color: #CBD5E0;
    border: 1px solid #CBD5E0;
    color: #7897AB;
} 
.status_red {
    background-color: #D96098;
    border: 1px solid #D96098;
    color: white;
} 


.update_event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em; 
}

.list__button {
    display: inline-flex;
    height: 39px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'rubik';
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    justify-content: center;
    
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0.2em; 
}
.button_link, .button_link:hover, .button_link:visited {
    text-decoration: none;
}
.list__button__text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    /* border: 1px solid blue; */
}
.btn_strech {
    place-self: center stretch;
}
.list__button_bg_blue {
    color: white;
    background: #325288;
}



/* /---history--- */
